.ebike--phone{
    display: none ;
}

@media screen and (max-width: 992px) {
    

    #ebike--windows{
        display: none;
    }
    .ebike--phone{
        display: flex;
        
    }
    .ebike--phone img{
        max-width: 50%;
        
    }





}


