.background--color{
    background-color: rgba(8, 9, 14, .05);
    padding: 20px;
    border-radius: 20px;
}
.center--the--button{
    display: flex;
    justify-content: center;
}

.details--title{
    font-family: 'Rajdhani';
    font-size: var(--h2-font-size);
    color: var(--font-accent);
    font-weight: var(--font-semi);
}
.details--list li{
    list-style: none;
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    font-weight: 500;
    line-height: 40px;
}

.image--item--pad img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 3px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    
}


.nav-tabs .nav-link.active{
    color: rgb(249, 183, 23)  !important;
}
.nav-tabs .nav-link.active{
    border-color:   #ffffff #fff rgb(249, 183, 23)  !important;
}

.nav-tabs .nav-link:hover{
    border-color: #fff;
}

.nav--list--i li a {
    color: black !important;
    font-weight: var(--font-medium);
    position: relative;
    font-family: var(--body-font);
    font-size: 1.2rem;
}
.nav--list--i li a:hover {
    color: rgb(249, 183, 23)  !important;
    
}
.about--the--adventure{
    font-size: 2.2rem;
    font-weight: var(--font-semi);
    font-family: 'Rajdhani';
}
.about--the--adventure span{
    color: rgb(249, 183, 23)  !important
}
.faq--the--adventure{
    font-size: 1.6rem;
    font-weight: var(--font-semi);
    font-family: 'Rajdhani';
}
.faq--the--adventure span{
    color: rgb(249, 183, 23)  !important
}
.faqs--the--adventure{
    font-size: 1.1rem;
    font-weight: var(--font-semi);
    font-family: 'Rajdhani';
    
}
.itinerary--text--config{
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    color: var(--font-color-gray);
    line-height: 2rem;
    padding: 30px;
}
.faq--text--config{
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    color: var(--font-color-gray);
    line-height: 2rem;
    
}

.tours--button--navbar{
    background: radial-gradient(circle at 10% 20%, rgb(255, 131, 61) 0%, rgb(249, 183, 23) 90%);
    color: #fff;
    font-size: var(--normal-font-size);
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s background-color;
    
}
.tours--button--navbar:hover{
    background: radial-gradient(circle at 10% 20%,rgb(249, 183, 23)  0%, rgb(255, 131, 61) 90%);
    color: #fff;
    transform: scale(1.1);
}